.search-container {
  min-height: 400px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: green;
  flex-grow: 1;
}

.search-container h3 {
  font-size: 60px;
  color: green;
  font-weight: bold;
}

.ui.large.form {
  width: 60%;
  margin: 0 auto !important;
}

.ui.basic.button,
.ui.basic.buttons .button,
.ui.basic.button:focus,
.ui.basic.buttons .button:focus {
  width: 30%;
  margin: 0 auto !important;
  border: 1px solid green;
  font-size: 15px;
  color: green !important;
  font-family: 'Abel', sans-serif;
  background: transparent !important;
}

.ui.basic.button:hover,
.ui.basic.buttons .button:hover,
.ui.basic.button:active,
.ui.basic.buttons .button:active {
  width: 30%;
  margin: 0 auto !important;
  border: 1px solid green;
  font-size: 15px;
  color: green !important;
  font-family: 'Abel', sans-serif;
  background: transparent !important;
}

.ui.label {
  text-transform: capitalize;
  margin-left: 5px;
  margin-bottom: 5px;
}

.ingredients-holder {
  width: 60%;
  text-align: left;
  padding-top: 20px;
  margin: 0 auto;
}

.suggestion-text {
  font-size: 30px;
  list-style: none;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  border: 2px solid green !important;
  border-radius: 20px !important;
  background: transparent !important;
  color: red !important;
}

.react-autosuggest__input:hover {
  width: 100%;
  border: 2px solid green !important;
  border-radius: 20px !important;
  background: transparent !important;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 45px;
  width: 100%;
  border: 1px solid green !important;
  background-color: #fff;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  z-index: 2;
  margin: 0 auto !important;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #000;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0c7eaf;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  .search-container h3 {
    font-size: 80px;
  }
}
