.homepage-container {
  height: 100vh;
  width: 100vw;
  background: rgb(240, 186, 177), rgb(198, 39, 20);
  background: -webkit-linear-gradient(rgb(240, 186, 177), rgb(198, 39, 20));
  background: -moz-linear-gradient(rgb(240, 186, 177), rgb(198, 39, 20));
  background: linear-gradient(rgb(240, 186, 177), rgb(198, 39, 20));
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.homepage-center {
  height: 30vh;
}

.homepage-cocktail {
  height: 90%;
}
