body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive;
}

input::-webkit-input-placeholder {
  color: #fff !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}

input:-ms-input-placeholder {
  color: #fff !important;
}
